absl-py==1.2.0
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse==1.6.3
attrs
backcall
beautifulsoup4
bleach
cachetools==5.2.0
certifi
cffi
charset-normalizer==2.1.1
cirq-core==1.0.0
cirq-google==1.0.0
commonmark==0.9.1
contextlib2==21.6.0
cycler==0.11.0
debugpy
decorator
defusedxml
deprecation==2.1.0
duet==0.2.7
easydict==1.9
entrypoints
executing
fastjsonschema
gensim==4.3.3
google-api-core==1.33.1
google-auth==2.11.0
googleapis-common-protos==1.56.4
grpcio==1.49.0
grpcio-status==1.48.1
h5py==3.7.0
idna==3.4
iniconfig==1.1.1
ipykernel
ipython
ipython-genutils
jedi
jieba==0.42.1
Jinja2
joblib==1.2.0
jsonschema
jupyter-core
jupyter_client
jupyterlab-pygments
kiwisolver==1.4.4
MarkupSafe
matplotlib==3.4.3
matplotlib-inline
mindquantum==0.7.0
mindspore-gpu
mindvision==0.1.0
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
ml-collections==0.1.1
mpmath==1.2.1
nb-conda==2.2.1
nb-conda-kernels
nbclient
nbconvert
nbformat
nest-asyncio
networkx==2.8.6
notebook
numpy
opencv-contrib-python-headless==4.6.0.66
opencv-python-headless==4.6.0.66
openfermion==1.5.1
packaging
pandas==1.4.4
pandocfilters
parso
pexpect
pickleshare
Pillow==9.2.0
pluggy==1.0.0
projectq==0.7.3
prometheus-client
prompt-toolkit
proto-plus==1.22.1
protobuf==3.20.1
psutil
ptyprocess
PubChemPy==1.0.4
pure-eval
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser
Pygments==2.13.0
pyparsing
pyrsistent
pytest==7.1.3
python-dateutil
pytz==2022.2.1
PyYAML==6.0
pyzmq
requests==2.28.1
rich==12.5.1
rsa==4.9
scikit-learn==1.1.2
scipy
Send2Trash
six
sortedcontainers==2.4.0
soupsieve
stack-data
sympy==1.11.1
terminado
testpath
threadpoolctl==3.1.0
tomli==2.0.1
tornado
tqdm==4.64.1
traitlets
typing_extensions
urllib3==1.26.12
wcwidth
webencodings==0.5.1
